<style>
        body {
            font-family: montserrat, cambria;
            margin: 0;
            padding: 0;
            background-color:white;
        }

        header {
            background-color:pink;
            color: #fff;
            padding: 10px;
            text-align: center;
        }

        nav {
            background-color: palevioletred;
            padding: 10px;
            text-align: center;
        }

        nav a {
            color: #fff;
            text-decoration: none;
            margin: 0 15px;
        }

        section {
            padding: 20px;
        }

        footer {
            background-color:palevioletred;
            color: #fff;
            padding: 10px;
            text-align: center;
            position: fixed;
            bottom: 0;
            width: 100%;
        }
    </style>